 {# <!--
<div id="search" class="input-group">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
    <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
    </span> 
</div>
--> #}
<div class="form-inline my-2 my-lg-0" id="search">
    <input class="form-control mr-sm-2" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}">
    <button class="btn btn-danger my-2 my-sm-0" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>
